<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-lg-12 mb-5">
    <div class="card">
        <div class="card-header">
            <h3 class="h6 text-uppercase mb-0">Fomulaire d'ajout d'un stock</h3>
        </div>
        <div class="card-body">
            <form class="form-horizontal" th:object="${stock}" th:action="@{/hotel/stocks/update/{id}(id=${stock.id})} " th:method="post">
                <div class="form-group row">
                    <label class="col-md-3 form-control-label">Nom</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="nom" id="nom" th:field="*{nom}">
                    </div>
                </div>
                <div class="line"></div>
                <div class="form-group row">
                    <label class="col-md-3 form-control-label">Categorie</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="categorie" id="categorie" th:field="*{categorie}">
                    </div>
                </div>
                <div class="line"></div>
                <div class="form-group row">
                    <label class="col-md-3 form-control-label">Type</label>
                    <div class="col-md-9">
                        <input type="text" name="type" id="type" class="form-control" th:field="*{type}">
                    </div>
                </div>
                <div class="line"></div>
                <div class="form-group row">
                    <label class="col-md-3 form-control-label">Quantité</label>
                    <div class="col-md-9">
                        <input type="number" name="qty" id="qty" th:field="*{qty}" class="form-control">
                    </div>
                </div>
                <div class="line"></div>
                <div class="form-group row">
                    <label class="col-md-3 form-control-label">Date</label>
                    <div class="col-md-9">
                        <input id="date" type="date" name="date" th:field="*{date}" class="form-control-range">
                    </div>
                </div>
                <div class="line"></div>
                <div class="form-group row">
                    <label class="col-md-3 form-control-label">Comptes</label>
                    <div class="col-md-9 ml-auto select">
                        <select multiple="" class="form-control rounded" type="text" th:field="*{compte}">
                            <option value="">Liste des categories</option>
                            <option th:each=" compte : ${comptes}"
                                    th:value="${compte.id}"
                                    th:text="${compte.username}"></option>
                        </select>
                    </div>
                </div>
                <div class="line"></div>
                <div class="form-group row">
                    <div class="col-md-9 ml-auto">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <button type="submit" class="btn btn-secondary">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>