<div id="sidebar" th:fragment="sidebar" xmlns:th="http://www.w3.org/1999/xhtml" class="sidebar py-3">
    <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">MAIN</div>
    <ul class="sidebar-menu list-unstyled">
        <li class="sidebar-list-item"><a href="#" data-toggle="collapse" data-target="#pages" aria-expanded="false" aria-controls="pages" class="sidebar-link text-muted"><i class="fas fa-concierge-bell mr-3 text-gray"></i><span>Reception</span></a>
            <div id="pages" class="collapse">
                <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
                    <li  class="sidebar-list-item"><a th:href="@{/admin/reservations/all}" class="sidebar-link text-muted pl-lg-5">Réservations</a></li>
                    <li  class="sidebar-list-item"><a th:href="@{/admin/chambres/all}" class="sidebar-link text-muted pl-lg-5">Chambres</a></li>
                </ul>
            </div>
        </li>

        <li class="sidebar-list-item"><a href="#" data-toggle="collapse" data-target="#pages-2" aria-expanded="false" aria-controls="pages" class="sidebar-link text-muted"><i class="far fa-window-restore mr-3 text-gray"></i><span>Restaurant</span></a>
            <div id="pages-2" class="collapse">
                <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
                    <li  class="sidebar-list-item"><a th:href="@{/admin/commandes/restaurant/all}"  class="sidebar-link text-muted pl-lg-5">Orders</a></li>
                    <li  class="sidebar-list-item"><a th:href="@{/admin/places/restaurant/all}" class="sidebar-link text-muted pl-lg-5">Tables</a></li>
                </ul>
            </div>
        </li>
        <li class="sidebar-list-item"><a href="#" data-toggle="collapse" data-target="#pages-3" aria-expanded="false" aria-controls="pages" class="sidebar-link text-muted"><i class="fas fa-cocktail mr-3 text-gray"></i><span>Lounge Bar</span></a>
            <div id="pages-3" class="collapse">
                <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
                    <li  class="sidebar-list-item"><a th:href="@{/admin/commandes/lounge_bar/all}"  class="sidebar-link text-muted pl-lg-5">Orders</a></li>
                    <li  class="sidebar-list-item"><a th:href="@{/admin/places/lounge_bar/all}" class="sidebar-link text-muted pl-lg-5">Tables</a></li>
                </ul>
            </div>
        </li>

        <li class="sidebar-list-item"><a href="#" data-toggle="collapse" data-target="#pages-4" aria-expanded="false" aria-controls="pages" class="sidebar-link text-muted"><i class="o-imac-screen-1 mr-3 text-gray"></i><span>Terrasse</span></a>
            <div id="pages-4" class="collapse">
                <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
                    <li  class="sidebar-list-item"><a th:href="@{/admin/commandes/terasse/all}"  class="sidebar-link text-muted pl-lg-5">Orders</a></li>
                    <li  class="sidebar-list-item"><a th:href="@{/admin/places/terasse/all}" class="sidebar-link text-muted pl-lg-5 ">Tables</a></li>
                </ul>
            </div>
        </li>


        <li class="sidebar-list-item"><a href="#" data-toggle="collapse" data-target="#pages-5" aria-expanded="false" aria-controls="pages" class="sidebar-link text-muted"><i class="fas fa-warehouse mr-3 text-gray"></i><span>Economat</span></a>
            <div id="pages-5" class="collapse">
                <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
                    <li  class="sidebar-list-item"><a th:href="@{/admin/stocks/all}" class="sidebar-link text-muted pl-lg-5">Stocks</a></li>
                    <!--<li th:if="${role.name}=='ROLE_ROOT' or ${role.name}=='ROLE_ADMIN'" class="sidebar-list-item"><a th:href="@{/hotel/articles/all}" class="sidebar-link text-muted pl-lg-5">Articles</a></li>-->
                    <li  class="sidebar-list-item"><a th:href="@{/admin/distributions/all}" class="sidebar-link text-muted pl-lg-5">Distributions</a></li>
                </ul>
            </div>
        </li>
        <li class="sidebar-list-item"><a th:href="@{/admin/piscines/all}" class="sidebar-link text-muted"><i class="fas fa-swimming-pool mr-3 text-gray"></i><span>Piscine</span></a></li>
        <li class="sidebar-list-item"><a th:href="@{/admin/rapports/rapport}" class="sidebar-link text-muted"><i class="far fa-file mr-3 text-gray"></i><span>Generer rapport journalier</span></a></li>
        <li class="sidebar-list-item"><a th:href="@{/accounts}" class="sidebar-link text-muted"><i class="far fa-user mr-3 text-gray"></i><span>Gestion des comptes</span></a></li>
        <!--li class="sidebar-list-item"><a th:href="@{/admin/users/lists}" class="sidebar-link text-muted"><i class="far fa-users mr-3 text-gray"></i><span>Gestion du personnel</span></a></li-->
</ul>
</div>